
<!--Mas informacion: https://getbootstrap.com/docs/4.0/layout/grid/-->
<div class="container mt-5"> <!--La clase container establece el contenedor para el contenido y la clase mt-5 agrega margen superior para separa el contenido-->
    <div class= "row"> <!--Organizar el contenido en filas y cada fila se divide en columnas-->
        <div class="col-lg-8 offset-lg-2"> <!--La clase col-lg-8 indica que la columna ocupa 8 de las 12 unidades en anho en dispotivos grandes lg y la clase offset-lg-2 agrega un espacio de margen izquierdo de 2 unidades para centrar la columna -->
            <div class="card"> <!--la clase card agrega el estilo de tarjeta-->
               <div class="card-body"> <!--La clase card-body indica el cuerpo de la tarjeta y la clase text-center centra el contenido de la tarjetaa-->
                    <h3 class="titulo">Tarjeta de Credito</h3>
               </div> 
            </div>
        </div>
    </div>

    <div class= "row mt-4"> 
        <div class="col-lg-6"> 
            <div class="card"> 
               <div class="card-body">
                    <h5 class="titulo">Agregar tarjeta</h5>

                    <form [formGroup]="form" (ngSubmit)="agregarTarjeta()">
                        <div class="input-group input-group-lg mb3">
                            <span class="input-group-text">
                                <i class="fas fa-user"
                                    [class.green-icon] ="this.form.get('titular')?.valid"
                                    [class.red-icon] ="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"  
                                ></i>
                            </span>
                            <input formControlName="titular" type="text" class="form-control" placeholder="Titular">
                        </div>
                        <div class="input-group input-group-lg mb3">
                            <span class="input-group-text">
                                <i class="fas fa-credit-card"
                                    [class.green-icon] ="this.form.get('numero_tarjeta')?.valid"
                                    [class.red-icon] ="this.form.get('numero_tarjeta')?.invalid && this.form.get('numero_tarjeta')?.touched"
                                ></i>
                            </span>
                            <input formControlName="numero_tarjeta" maxLength="16" type="text" class="form-control" placeholder="Número de tarjeta">
                        </div>   
                
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb3">
                                    <span class="input-group-text">
                                        <i class="fas fa-calendar-alt"
                                            [class.green-icon] ="this.form.get('fecha_expiracion')?.valid"
                                            [class.red-icon] ="this.form.get('fecha_expiracion')?.invalid && this.form.get('fecha_expiracion')?.touched"
                                        ></i>
                                    </span>
                                    <input formControlName="fecha_expiracion"  maxLength="5" type="text" class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group input-group-lg mb3">
                                    <span class="input-group-text">
                                        <i class="fas fa-key"
                                            [class.green-icon] ="this.form.get('CVV')?.valid"
                                            [class.red-icon] ="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"
                                        ></i>
                                    </span>
                                    <input formControlName="cvv" maxLength="3" type="password" class="form-control" placeholder="CVV">
                                </div>
                            </div>
                        </div>
                        <div class="d-grid grap-2 mt-5">
                            <button type="submit" class="btn btn-success btn-lg" [disabled]="this.form.invalid">
                                <i class="fas fa-database"></i>&nbsp; Aceptar
                            </button>
                        </div>
                    </form>
               </div> 
            </div>
        </div>
        <div class="col-lg-6"> 
            <div class="card"> 
               <div class="card-body"> 
                    <h5 class="titulo">Listado de tarjetas</h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let tarjeta of listado_tarjetas; let i = index">
                                <td>{{tarjeta.titular}}</td>
                                <td>{{tarjeta.numero_tarjeta}}</td>
                                <td>{{tarjeta.fecha_expiracion}}</td>
                                <td><i class="fa-solid fa-pen-to-square text-info"></i></td>
                                <td><i  (click)="eliminarTarjeta(i)" class="fa-solid fa-trash text-danger"></i></td>
                            </tr>
                        <tbody>
                    </table>
               </div> 
            </div>
        </div>
    </div>
</div>
